header {
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-right: 2px;
}

input[type=search] {
    outline: 0;
}

.search-bar {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    width: 90%;
    height: 48px;
    border: 0px;
    box-shadow: none;
    padding: 4px 4px 4px 4px;
}

.hr-search-bar {
    width: 99%;
    margin-left: 8px;
    margin-right: 129px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.shrt-count {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 8px;
}

.shrt-tile {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    width: 98%;
}

.shrt-keyword {
  width: 99%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 6px;
  padding-top: 0px;
}

.shrt-tags {
  font-family: sans-serif;
  font-size: 12px;
  height: 20px;
  width: 99%;
  margin-left: 6px;
  margin-top: 2px;
}

.shrt-tag {
  font-family: sans-serif;
  font-size: 12px;
  background: #EEEEEE;
  margin-left: 2px;
  margin-rigth: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  border-radius: 3px;
}

.shrt-description {
  width: 99%;
  font-family: helvetica;
  font-size: 14px;
  margin-left: 6px;
}

.shrt-count {
  float: right;
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
}

.shrt-tile-hr {
    margin-top: 4px;
    margin-bottom: 4px;
}