header {
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-right: 2px;
}

input[type=search] {
    outline: 0;
}

.search-bar {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    width: 90%;
    height: 48px;
    border: 0px;
    box-shadow: none;
    padding: 4px 4px 4px 4px;
}

.hr-search-bar {
    margin-left: 8px;
    margin-right: 129px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.shrt-count {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 8px;
}

.shrt-tile {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    background-color: red;
    width: 98%%;
    height: 100px;
}

.shrt-url {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left:6px;
}